<h2>Users</h2>
<ul>
  {{#each users}}
    <li>
      {{this.name}} - {{this.email}}
      <form action="/users/{{this.id}}/edit" method="get">
        <button type="submit">Edit</button>
      </form>
      <form action="/users/{{this.id}}" method="post" style="display:inline;">
        <button type="submit" name="_method" value="delete">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>

<h3>Add User</h3>
<form action="/users" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" required>
  
  <label for="email">Email</label>
  <input type="email" name="email" required>
  
  <button type="submit">Add User</button>
</form>